# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg
*.egg-info/
dist/
build/
.eggs/

# Django
*.log
db.sqlite3
/static/
/media/

# VSCode
.vscode/

# Environment
.env
.env.*

# OS
.DS_Store
Thumbs.db

# Jupyter
.ipynb_checkpoints/

# Others
*.bak
*.swp
*.tmp

# Node
node_modules/
