{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Fuel Route Optimizer</title>

    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css"/>
</head>
<body>

<div class="container">

    <div class="top-bar">
        <h1>🚗 Fuel Route Optimizer</h1>
        <button onclick="toggleDarkMode()">🌙 Dark Mode</button>
    </div>

    <div class="card form-card">
        <input type="text" id="start" placeholder="Start location">
        <input type="text" id="end" placeholder="End location">
        <button onclick="findRoute()">Find Route</button>
        <button class="clear-btn" onclick="clearRoute()">Clear</button>
    </div>

    <div id="loader" class="loader hidden"></div>

    <div id="summary" class="card hidden"></div>

    <div id="map"></div>

</div>

<script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
<script src="{% static 'script.js' %}"></script>

</body>
</html>
